In [1]:
# Importing Pandas and NumPy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Importing all datasets
ratings = pd.read_csv("Ratings.csv")

In [4]:
len(ratings)

7

In [6]:
ratings

   B1  B2  B3  B4  B5
0   1   0   4   0   3
1   2   3   4   3   2
2   3   3   2   4   2
3   4   4   3   5   4
4   5   1   4   2   2
5   4   2   4   3   4
6   4   3   1   5   5

In [8]:
from sklearn.decomposition import PCA

In [9]:
pca = PCA(random_state=42)

In [10]:
pca.fit_transform(ratings)

array([[ 4.32763697, -0.86510265,  1.26638799,  0.0192282 , -0.02607712],
       [ 0.75438474, -1.25497871, -1.33150365, -0.55425185,  0.01802273],
       [-0.96124411, -0.95065343, -0.92645456,  1.11904645,  0.02145516],
       [-2.60315862, -0.01942434, -0.29100855, -0.88741404, -0.0637141 ],
       [ 1.47485205,  2.1797347 , -0.78910935,  0.6237979 , -0.0229388 ],
       [ 0.09908771,  1.04243975,  0.45272116, -0.88071865,  0.06717028],
       [-3.09155875, -0.13201534,  1.61896695,  0.56031199,  0.00608186]])

In [11]:
pca.explained_variance_ratio_

array([6.51886873e-01, 1.52836342e-01, 1.30717403e-01, 6.43810220e-02,
       1.78359842e-04])