In [5]:
print("This is a print")

This is a print

In [6]:
print("output \nwith new line")

output
with new line

In [56]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [57]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [11]:
a =2
b = 3
print(a+b)

5

In [7]:
print(4 * 5 - 9 + 6 / 7)

11.857142857142858

In [8]:
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

10
9

In [12]:
print(3 < 4)
print(True and False)
print(True or False)
print(a != b)
print(True and not False)

True
False
True
True
True

### strip(), lstrip(), rstrip()

In [24]:
#strip() - remove whitespace from start and end
some_scentence = "     There are some spaces front and back     "
print(some_scentence)
print(some_scentence.strip())

     There are some spaces front and back
There are some spaces front and back

#### strip with regex or pattern

In [21]:
# strip with a parameter(regex) will remove regex from start and end

some = '%%%%%4%'
print(some.strip('%'))

4

In [25]:
#lstrip() - remove whitespace at start
#rstrip() - remove whitespace at end

print(some_scentence.lstrip())
print(some_scentence.rstrip())

There are some spaces front and back
     There are some spaces front and back

### Indexing and Slicing

In [48]:
val = "2 apples"

no = val[0]
string = val[2:]

print(string, ': ', no)

print("char at 2", val[2])
print("between 2-5:", val[2:5])
print("negative slice char at -2: ", val[-2])

# always have to go from lowest to highest.
# here -5 is low and -2 is high
print("negative between -5 to -2: ", val[-5:-2])

apples :  2
char at 2 a
between 2-5: app
negative slice char at -2:  e
negative between -5 to -2:  ppl

#### Slicing with intervals

In [49]:
# with intervals

nums = '123456789'

even_nums = nums[1::2]
print(even_nums)

odd_nums = nums[0::2]
print(odd_nums)

2468
13579

### print with Formatting

In [40]:
A = "Data"
B = "Analysis"
C = "pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using pandas

### Lists

In [2]:
initial_list = []
print(initial_list)

[]

In [17]:
DA = ['R', 'Python','SAS','Scala',42]
print(DA)

['R', 'Python', 'SAS', 'Scala', 42]

In [5]:
print(DA[0])

R

In [6]:
print(DA[1:3])

['Python', 'SAS']

In [9]:
print(DA[0:2])
print(DA[ :2])

['R', 'Python']
['R', 'Python']

In [10]:
print(DA[-1])

42

**Lists in python are used as both queue and stack**

In [19]:
# pop removes from the right 
DA.pop()

'R'

In [20]:

DA.pop(0)
print(DA)

['SAS', 'Scala', 42]

In [21]:
DA.append('R')
print(DA)
DA.remove('R')
print(DA)

['SAS', 'Scala', 42, 'R']
['SAS', 'Scala', 42]

In [23]:
nl = DA
print(nl)
DA.append('some1')
print(nl)

['SAS', 'Scala', 42]
['SAS', 'Scala', 42, 'some1']

In [3]:
L = [1, 2, 3]
print(L*2)

[1, 2, 3, 1, 2, 3]

In [21]:
C = set([1,2,3,4,5,6])
F = set([2,6,8,9])
H = set([1,6,7,8,9])

# union
print(C | F | H)

# intersection
print(C & F & H)


print()

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{6}

In [8]:
l1 = [1,9,7,4]
l2 = [5,6,7,8]

l = list(zip(l1,l2))

alice = 0
bob = 0

for t in l:
    if(t[0] > t[1]):
        alice += 1
    elif(t[1]>t[0]):
        bob += 1
    else:
        pass

print((alice,bob))

(1, 2)

In [4]:
l = [1,2,3,4,5,6]
print(*l, sep=' ')

1 2 3 4 5 6

In [7]:
from datetime import datetime
s = '07:05:45PM'
d = datetime.strptime(s, '%H:%M:%S%p')
print(d)

1900-01-01 07:05:45